[Desktop Entry]
Name=AuraDroid Configuration Tool
X-GNOME-FullName=AuraDroid Configuration Tool
Comment=Configure Different aspects of AuraDroid
Exec=auradroid-config
Icon=distributor-logo-android
Terminal=flase
Type=Application
Categories=GNOME;GTK;Utility;Clock;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
