[Desktop Entry]
Name=Start AuraDroid
X-GNOME-FullName=Start AuraDroid
Comment=Start The Android Container
Exec=auradroid-start
Icon=distributor-logo-android
Terminal=true
Type=Application
Categories=GNOME;GTK;Utility;Clock;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
